  NEXT_PUBLIC_apiKey=AIzaSyBWXFML80LXfN1NUbYlzSO28AHyAahEQGw
  NEXT_PUBLIC_authDomain=nextjs-netfilx-app.firebaseapp.com
  NEXT_PUBLIC_projectId=nextjs-netfilx-app
  NEXT_PUBLIC_storageBucket=nextjs-netfilx-app.appspot.com
  NEXT_PUBLIC_messagingSenderId=178276961381
  NEXT_PUBLIC_appId=1:178276961381:web:5ead136bfa4066c12a0a8c
  API_KEY=ace33f2c57e7ccb9884a1e740d7dea4d
